.Userlist {
    padding-top: 10px;
    padding-bottom: 10px;
}

.user-list-box {
    display: table;
}
.user-list-title {
    display: table-row;
    &__cell {
        display: table-cell;
        border: 1px solid;
        background-color: $colorTableTitle;
    }
}

.user-list-row {
    display: table-row;
    &__cell {
        display: table-cell;
        border: 1px solid;
    }
}